{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>home</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nulla aperiam magnam? Porro voluptates maiores iure sed excepturi. Itaque nemo rem ab architecto error! Voluptas consequatur minima aliquam facere amet sed dolorum dolore non, illum quos in? Praesentium id, veniam illo ipsum ad enim ut blanditiis doloribus dicta earum officia vero quos obcaecati accusantium, repellendus veritatis eos magni est quia odio minima! Vero, eos sunt veritatis nemo eius impedit quae doloribus laboriosam nulla! Doloremque, voluptatum maxime enim eligendi hic sit voluptas at ad, inventore incidunt animi, soluta facere reiciendis obcaecati blanditiis. Est nam reiciendis quia adipisci, aliquam in natus voluptates?</p>
    </div>
{% endblock %}